{require_otp_vsn, "R14|R15|R16"}.

{cover_enabled, true}.

{edoc_opts,[{todo, true}]}.

{xref_checks, [undefined_function_calls, locals_not_used, exports_not_used]}.

{deps,
 [
   {restc,  ".*", 
	{git, "https://github.com/kivra/restclient.git","master"}}   
 ]}.

{erl_opts, [
	     {i, ["../..", "../include"]},
	     {src_dirs, [src]},
	     warn_format,
	     warn_export_all,
	     warn_export_vars,
	     warn_obselete_guard,
	     warn_unused_import,
	     warn_bif_clash,
	     warn_missing_spec,
	     warn_utyped_record,
            {parse_transform}, {debug_info}]}.

{pre_hooks, [ {compile, "./download_dep.sh"}]}.

{post_hooks, []}.

{sub_dirs, ["rel"]}.

{reloader, ".*", {git, "https://github.com/oinksoft/reloader.git", 
"master"}}.

{escript_incl_apps, [erlsom, jsx, restc, mochiweb_util]}.

%% Uncomment to use the Java client bench driver
%% {escript_emu_args, "%%! -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
{eunit_opts, [verbose]}.
