[
 {stgv3,
	  [{spark_api_endpoint,"http://api.stgv3.spark.net/v2"},
  	   {spark_app_id,"1054"},
  	   {spark_brand_id,"90510"},
       {spark_client_secret,
          "nZGVVfj8dfaBPKsx_dmcRXQml8o5N-iivf5lBkrAmLQ1"}]
  },
  {spark_create_oauth_accesstoken,
        "/brandId/{brandId}/oauth2/accesstoken/application/{applicationId}"},
  {auth_profile_miniProfile,
       "/brandId/{brandId}/profile/attributeset/miniProfile/{targetMemberId}"},
  {profile_memberstatus,
        "/brandId/{brandId}/application/{applicationId}/member/{memberId}/status"},
  {community2brandId,
              [{spark,"1","1001"},
               {jdate,"3","1003"},
               {cupid,"10","1015"},
               {bbw,"23","90410"},
               {blacksingle,"24","90510"}]}
].
